<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/custom-styles.css">
</head>
<body>
     <!-- site header -->
  <header>
    <h1 class="header-title">Valeria Fascianelli</h1>
    <p class="header-subtitle">Postdoctoral Researcher in Computational Neuroscience</p>
    <nav class="nav-links-inline">
      <a href="/">Home</a>
      <a href="/cv-and-publications/">CV & Publications</a>
      <a href="/contact/">Contact</a>
    </nav>
  </header>

  <!-- page content -->
  <main>
    {{ content }}
  </main>
</body>
</html>
